<%= stylesheet_link_tag "allaboutdogs" %>

<div class="container">
  <header>
    <div class="align-parent">
      <h1>All about dogs</h1>
      <img id="header-image" width="4%" height="4%" src="http://www.clipartbest.com/cliparts/pT5/6Ap/pT56ApLAc.png"/>
    </div>
  </header>

  <nav>
    <ul>
      <a href="/dog/static_html_only"><li>HTML only</li></a>
      <a href="/dog/static_styled"><li>HTML styled with CSS</li></a>
      <a href="/dog/no_data"><li>Dynamic webpage without data</li></a>
      <a class="active-page" href="/dog/with_data"><li>Dynamic webpage with data</li></a>
    </ul>
  </nav>

  <article>
    <div id="container">
      <div class="bottom">
          <div class="col">
            <h3>Who is your favorite dog?</h3>
            <%= form_tag :action => 'create' do %>
            <p><label for = "dog_name">Dog's name</label>
            <%= text_field 'dog', 'name' %></p>

            <p><label for = "dog_breed">Dog's breed</label>
            <%= text_field 'dog', 'breed' %></p>

            <%= submit_tag "Add", class: 'button' %>

            <% end -%>
          </div>
          <div class="col">
            <% if @dogs.blank? %>
            <h3>No favorites yet!</h3>
            <% else %>
            <h3>Some favorites</h3>
            <div id="fave-dogs"/>
          </div>
      </div>
      <div>
    </div>
  </div>

  </article>
  <footer><a href="https://www.paws.org/kids/learn/pets/dogs/">Learn more about dogs!</a></footer>
  <%= content_tag :div, nil, id: "dog-data", data: {dogs: @dogs} %>

</div>
<script>
function addDog(name, breed) {
  var div = document.getElementById("fave-dogs");

  div.innerHTML = div.innerHTML + "<h4>" + name + ": " + breed + "</h4>";
}

var dogs = $('#dog-data').data('dogs');


for (var i = 0; i < dogs.length; i++) {
  addDog(dogs[i].name, dogs[i].breed);
}

</script>

<% end %>

</body>
